// global//

$theme-colors: (
  "primary": #2a29e8,
  "secondary": #e7f3ff,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  color: #0d0c22;
}

:root {
  --blue-color: #2a29e8;
  --light-blue-color: #e7f3ff;
  --beige-color: #faf7ef;
  --red-color: #f9a78e;
  --purple-color: #bd95ee;
  --aqua-color: #95d5ed;
  --yellow-color: #f9e490;
  --background-color: #f5f5f5;

  --dark-color: #140a44;
}

body {
  background-color: var(--background-color);
}

// nav //

.nav-logo {
  font-family: "Shrikhand", cursive;
  padding-top: 10px;
  a {
    text-decoration: none !important;
  }
}

nav {
  border-style: none;
  height: 10vh;
  background-color: 255, 255, 255, 0;
  border: none !important;
  li {
    margin: 15px;
  }
}

//login/register//

.container-intro {
  display:flex;
}

.mx-auto {
  margin-left:0px !important;
  margin-right:0px !important;
}
.figure-caption {
  font-size: large;
  color: var(--primary-color);
}

.sidebar {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.sidebar-register {
  @extend .sidebar;
  background-color: var(--light-blue-color);
}

.sidebar-login {
  @extend .sidebar;
  background-color: var(--light-blue-color);
}

.sidebar-text {
  img {
    margin-bottom: 30px;
  }
}

.sidebar-form {
  margin: auto;
  justify-content: center;

  p {
    margin-bottom: 10%;
  }
}

.sidebar-form {
  justify-content: center;
  width: 30%;

  col-md-6 {
    margin: 20px;

    input {
      width: 80px;
    }
  }
}

//listingproduct/listingvendor//

#display_image {
  height: 211px;
  width: 100%;
  border: 1px solid #ced4da;
  background-position: center;
  margin: auto;
  border-radius: 0.25rem;
  margin: auto;
  justify-content: center;
}

#exampleInputDescription {
  height: 200px;
}

.card {
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px !important;
  box-shadow: #0d0c22 !important;
}

.form-group {
  padding-left: 30%;
  padding-right: 30%;
}

// listing

#listingbutton {
  padding: 40px;
  height: 80px;
  height: auto;
  font-size: x-large;
}
.listing__container {
  height: 80vh;
}

.listing__content-container {
  display: flex;
  justify-content: center;

  .listing__content-item {
    height: 500px;
    margin: 10px;
    width: 200px;
  }
}

// product/vendor //

.modal-form {
  display: contents;
  padding: 10%;
}

.wsk-cp-product {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}
.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  img {
    max-height: 180px;
    object-fit: fill;
  }
}
.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -30px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}
.wsk-cp-text {
  padding-top: 80%;
}
.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}

.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wsk-cp-text .description-prod p {
  margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}

@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }
  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }
  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }
  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }
  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

//index ///

.index__container {
  background: var(--beige-color) !important;
}

.top-flexbox-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 70vh;

  .top-flexbox-item {
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;

    position: relative;
  }

  .title-text {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-family: "Shrikhand", cursive;

    h1 {
      font-size: 72px;
    }
  }
  .small-banner {
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    z-index: 15;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 4px;
  }

  .grid-graphic {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: 200%;
    opacity: 50%;
  }

  .arrow-down {
    transform: rotate(340deg);
  }

  .arrow-up {
    transform: rotate(170deg);
    margin-top: 120px;
  }
}

.bottom-flexbox-container {
  display: flex;
  justify-content: space-between;
  height: 20vh;

  .bottom-flexbox-item {
    margin-top: 30px;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
  }

  #bottom-main {
    background: var(--blue-color);
    width: 15%;
    margin-top: 0px;
    padding: 10px;

    h1,
    p {
      color: var(--beige-color);
    }
  }

  .column {
    background: red;
  }

  .index-container {
    position: relative;
    text-align: center;
    color: white;
    background: var(--beige-color);
  }
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  position: absolute;
  font-size: 6px;
  transform: translate(120px, 25px);
}

#rectangle {
  width: 10px;
  height: 100%;
  background: blue;
  display: inline-block;
  margin: auto;
}

.checked {
  color: orange;
}

.circle {
  border-radius: 50%;
  background-color: #0276fd;
  font-size: 16px;

  color: black;
  background-color: var(--yellow-color);
  height: 140px;
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

//my listings //

.mylistings__container {
  width: 70%;
  margin: auto;
}

//footer //

.row, mt-3 {
  justify-content:center !important;
  align-items: center;
}

footer {
  padding-top: 10%;
  height: 15vh;
  justify-content:center;
}
