{% extends "layout.html" %} {% block title %} Listing {% endblock %} {% block main %}
<div listing__container>
<h5 style="  margin: auto;
padding-top:10%;
width: 20%;
text-align:center;
">I want to create a...</h5>


  <div class="listing__content-container">
    
  
  <div class="listing__content-item">
    <a class="btn btn-primary" href="/listingvendor" role="button" id="listingbutton">A Vendor Listing</a>
  </div>
  <div class="listing__content-item">
    <a class="btn btn-primary" href="/listingproduct" role="button" id="listingbutton">A Product Listing</a>
  </div>
</div>
</div>
{% endblock %}
